<html lang="en">
    <head>
        <title>Try It...</title>
        <link rel="stylesheet" href="https://jgthms.com/wysiwyg.css/docs.css">
    </head>
    <body>
    <div class="wysiwyg">
        <h1>Try out LaTTe math syntax</h1>
        <p>Give LaTTe math syntax a shot! Please note that implicit multiplication (ab) and square roots sqrt() are
            extremely buggy right now.</p>
        <form method="post">
            <label for="latteinput">LaTTe math input</label><br><br>
            <textarea name="latteinput" id="latteinput"></textarea>
            <input type="submit">
        </form>
    </div>
    </body>
</html>